{% extends 'user/other.html'%}
{% block body %}

     
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 5px;">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div id="checkout" class="section">
    <h3>CheckOut</h3>
    <p>Pay for your orders here.</p>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <p class="bg-success text-white p-3 rounded-3 " id="total">Total Amount: &#8358;(&#8358;{{ "%.2f" | format((cart_items | map(attribute='total_price') | sum) - 750) }})</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <button class="btn btn-danger" id="cancelPay" type="button" onclick="document.location.href='/cart/'">
            Cancel
        </button>
    </div>
    <div class="col-md-4">
        <a href="/pay/confirm/" class=" text-decoration-none bg-info text-white p-2">Click to make payment</a>
    </div>
</div>
</div>

{% endblock %}
