<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyify | Fashion</title>
    <link rel="stylesheet" type="text/css" href="/static/Fa/css/all.css">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fashion.css">
    
</head>
<body>
<div class="bg-body-tertiary">
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container">
            <!-- Logo Section -->
            <a class="navbar-brand nav-font text-dark fw-bold" href="/">
                <i class="fa-brands fa-slack text-warning"></i> Echo Stock
            </a>
    
            <!-- Toggler Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Collapsible Content -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Centered Search Bar -->
                <form class="d-flex mx-auto w-50" role="search" action="/search" method="GET">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning text-white" type="submit">Search</button>
                </form>
    
                <!-- Navigation Items -->
                <ul class="navbar-nav ms-auto">
                    <!-- Account Dropdown -->
                    <li class="nav-item dropdown">
                        {% if cus_deets %}
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> Hi, {{ cus_deets.fname }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                                <li>
                                    <a class="dropdown-item" href="/profile/">
                                        <i class="fa-solid fa-user me-2"></i>Profile
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-truck-fast me-2"></i>Orders</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item text-warning" href="/logout/">
                                        <i class="fa-solid fa-sign-out me-2"></i>Sign Out
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <a class="nav-link text-dark" href="/login/">
                                <i class="fa-regular fa-user"></i> Sign In
                            </a>
                        {% endif %}
                    </li>
    
                    <!-- Help Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-question"></i> Help
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
                            <li><a class="dropdown-item" href="#">Help Center</a></li>
                            <li><a class="dropdown-item" href="#">Payment Option</a></li>
                            <li><a class="dropdown-item" href="#">Place Order</a></li>
                            <li><a class="dropdown-item" href="#">Track Order</a></li>
                            <li><a class="dropdown-item" href="#">Cancel Order</a></li>
                            <li><a class="dropdown-item" href="#">Return & Refund</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-warning" href="#"><i class="fa-brands fa-rocketchat me-2"></i>Live Chat</a></li>
                        </ul>
                    </li>
    
                    <!-- Cart Icon -->
                    <li class="nav-item">
                        {% if cart | length < 1 %}
                        <a class="nav-link text-grey" href="/cart"><span class="badge bg-success"></span> Cart
                          <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        {% else %}
                        <a class="nav-link text-grey" href="/cart"><span class="badge bg-success"></span> Cart
                          <i class="bi bi-{{ cart | length }}-square-fill"></i>
                        </a>
                        
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
        

    <div class="container-fluid sub-nav">
        <div class="">
            <div class="card-body ban ">
              Fashion
            </div>
          </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6><a href="/">Home</a>>Fashion</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card card-big">
                    <div class="card-body d-flex ">
                      {% for product in products %}
                      <form action="/cart/add/" method="get">
                        <input type="hidden" name="product_id" value="{{ product.product_id }}">
                        <input type="hidden" name="quantity" value="1">
                        <div class="col-6 col-md-4 col-lg-3 m-3">
                          <div class="card caer shadow h-100 ">
                              <a href=""><img src="{{ url_for('static', filename='media/' + product.pro_picture) }}" class="card-img-top img-fluid image" alt="Samsung Galaxy"></a>
                              <div class="card-body">
                                  <h5 class="card-title text-truncate">{{ product.pro_name }}</h5>
                                  <strike class="card-text text-body-secondary">Old_Price: {{ product.old_price }}</strike>
                                  <b class="card-text">New_Price: {{ product.new_price }}</b>
                                  {% set in_cart = product.prod_id in cart_items | map(attribute='prod_id') %}
                                  <a  class="btn btn-warning rounded-4 px-3 mt-3 do" href="/cart/add/">
                                    <i class="fa fa-cart-plus fs-6 me-2"></i>
                                    Add to cart
                                  </a>
                              </div>
                          </div>
                      </div>
                      </form>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
    

                
</div>
<footer class="foot">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ben p-3">
          <i class="fa-brands fa-slack lg text-warning"></i><span class="text-white">Echo</span>
        </div>
        <div class="col-md-4 p-3">
          <p class="text-white">Subscribe to our newsletter to get updates on our latest offers!</p>
          <form class="d-flex " role="search">
            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
          </form>
        </div>
        <div class="col-md-4 p-3 text-center text-white">
          <i class="fa-solid fa-envelope m-3"></i><span>Email Support</span>
          <p>help@Echostock.com</p>
          <i class="fa-solid fa-phone m-3"></i><span>Phone Support</span>
          <p>08074367382 , 07026665578</p>
          <i class="fa-brands fa-whatsapp m-3"></i><span>Whatsapp</span>
          <p>09060799235, 08065728282</p>
        </div>
      </div>
    </div>
    <div class="nbg">
      <div class="container p-4">
        <div class="row">
         
          <div class="col-md-3 text-white foot">
            <h6>ABOUT ECHO</h6>
            <li> <a href="">About us</a></li>
               <li> <a href="">careers</a></li>
              <li> <a href="">Jumia Express</a></li> 
              <li> <a href="">Terms and Conditions</a></li>
              <li> <a href="">Privacy Notice</a></li> 
               <li>  <a href="">Payment Information Guidelines</a></li>
              <li> <a href="">Cookie Notice</a></li>
              <li> <a href="">Official Stores</a></li> 
              <li> <a href="">Flash Sales</a></li>
            
          </div> 
          <div class="col-md-3 text-white foot">
            <h6>NEED HELP?</h6>
            <li><a href="">Chat with us</a></li>  <li><a href="">Help center</a> </li> <li><a href="">Contact Us</a></li>
            
          </div>
          <div class="col-md-3 text-white foot">
            <h6>MAKE MONEY WITH ECHO</h6>
           
            <li><a href="">Sell on Echo</a> </li>
              <li><a href="">Vendor hub</a> </li>
              <li><a href="">a Sales Consultant</a> </li>
          
          </div>
          <div class="col-md-3 text-white foot">
            <h6>BUYING ON ECHO</h6>
            
              <li><a href="">Buyer Safety Center</a></li> 
               <li> <a href="">FAQs</a></li>
              <li><a href="">Delivery</a> </li>
              <li><a href="">Echo Return policy</a> </li>
              <li><a href="">Digital Service</a> </li>
              <li><a href="">Bulk Purchase</a></li>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h5>PAYMENT METHOD & DELIVERY METHOD</h5>
            <div class="m-auto text-lg bro">
              <i class="fa-brands fa-cc-visa ml-3"></i>
              <i class="fa-brands fa-cc-mastercard ml-3"></i>
              <i class="fa-brands fa-paypal ml-3"></i>
              <i class="fa-brands fa-dhl ml-3 dhl"></i>
            </div>
            

          </div>
      </div>
      <div class="container text-secondary text-center">
        <hr>
        <p >Copyright c 2024 Echostock.com. All right reserved</p>
      </div>

    </div>
  </footer>
 
<script src="/static/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        var cartCount = 0;
        $(".do").each(function () {
            $(this).click(function () {
                cartCount++;
                $("#change-num").text(cartCount);
                $("#change-num").removeClass("bg-danger").addClass('bg-success');
            });
        });
    });
</script>

</body>

</html>



    