{% extends 'user/formnav.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container px-4 py-5 bg-light" id="featured-3">
    <div class="row g-4 py-5">
        <div class="col-md-8 mx-auto col-lg-5">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body p-5">
                    <h2 class="text-center text-warning mb-4">Sign In</h2>

                    {% set message = get_flashed_messages(with_categories=True) %}
                    {% if message %}
                      {% for msg, cat in message %}
                        {% if cat == 'errormsg' %}
                          <div class="alert alert-danger">{{ msg }}</div>
                        {% else %}
                          <div class="alert alert-success">{{ msg }}</div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                    {% if form.email.errors %}
                        <div class="alert alert-danger">{{ loginform.email.errors }}</div>
                    {% endif %}
                    
                    {% if form.password.errors %}
                        <div class="alert alert-danger">{{ loginform.password.errors }}</div>
                    {% endif %}

                    <form method="post" novalidate action="{{ url_for('user_login') }}">
                      {{ form.hidden_tag() }}
                      <div class="mb-3">
                        <label for="email" class="form-label" style="font-weight: bold; color: #555;">Email</label>
                        {{ form.email(class="form-control form-control-lg", id="email", placeholder="Enter your email") }}
                    </div>
            
                    <!-- Password Field -->
                    <div class="mb-3">
                        <label for="password" class="form-label" style="font-weight: bold; color: #555;">Password</label>
                        {{ form.password(class="form-control form-control-lg", id="password", placeholder="Enter a secure password") }}
                    </div>

                        {{ form.csrf_token }}
                        <button type="submit" class="w-100 btn btn-lg btn-warning noround mt-4">Sign In</button>
                    </form>

                    <hr class="my-4">

                    <div class="text-center">
                        <a href="/register/" class="text-body-secondary">Don't have an account? Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
