{% extends 'user/other.html' %}
{% block title %} Phones & Tablet {% endblock %}  
{% block body %}
   
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 65px;">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    <div class="container cran">
      <div class="row  ">
        <div class="col-md-4">
          <h2>Welcome {{cus_deets.fname}}</h2>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h1>Account overview</h1>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Account Details</h5>
                  </div>
                <div class="card-body">
                      <h6>First Name :{{ cus_deets.fname }}</h6><br>
                      
                        <h6>Last Name :{{ cus_deets.lname }}</h6><br>
                      
                      <h6>Email :{{cus_deets.email}}</h6><br>
                      
                </div>
              </div>
              
                </div>
                <div class="col-md-6">
                <div class="card">
                  <div class="card-header d-flex align-items-center">
                    <h5 class="d-flex align-items-center">Address Detail</h5>
                    <a href="/profile/update/" class="d-flex align-items-center ms-auto  text-warning text-decoration-none cursor-pointer">
                      <i class="fa-solid fa-user-pen"></i>
                    </a>
                    
                  </div>
                <div class="card-body">
                      <h6>{{ cus_deets.fname }}</h6><br>
                      
                        <h6>{{ cus_deets.lname }}</h6><br>
                      
                      <h6>{{cus_deets.address}}</h6><br>
                      
                </div>
              </div>
              
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

   

{% endblock %}