*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg,transparent,rgba(10, 10, 10, 0.9),rgba(10, 10, 10, 0.9)),url('/static/img/big.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ddd;
    padding: 50px 60px 70px;
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(5,33,1,0.9);
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
    color: orange;
    text-shadow: 1px 2px ;
}
.form-box h1::after{
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: orange;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform:translatex(-50%);
}
.input-feild{
    background: #fff;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px ;
}
.input-feild i{
    color: #ddd;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: orange;
}
.btn-feild{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-basis:48%;
    background: orange;
    color: #fff;
    font-size: 20px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer

}

.input-group{
    height: 150px;

}


