{% extends 'admin/header.html' %}
{% block body %}
 
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 5px;">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
      <!-- Main Content -->
      <div class="main-content p-0 flex-grow-1">
        <header class="bg-ash p-3 text-dark">
          <h3>Welcome </h3>
        </header>
        <div class="content p-4">
          <!-- Dashboard Section -->
          <section id="dashboard" class="content-section active">
            <h4 class="mb-3 " >Dashboard Overview</h4>
            <div class="row g-3">
              <div class="col-md-4">
                <div class="card bg-light shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">Total Sales</h5>
                    <p class="card-text fs-4">&#8358;{{ total_sales}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card bg-light shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">Total Order</h5>
                    <p class="card-text fs-4">{{ total_orders}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card bg-light shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">Total number of customer</h5>
                    <p class="card-text fs-4">{{cus_deets|length}}</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

         
        </div>
      </div>
    </div>
{% endblock %}
